<section class="hero">
  <h1>Noice</h1>
  <p>Minimal Astro blog template.</p>
</section>

<style>
  .hero {
    padding: 180px 0 90px;

    & h1 {
      font-weight: 500;
      margin-bottom: 4px;
    }

    & p {
      color: var(--color-foreground-subtle);
    }
  }
</style>
