---
import Items from "../items.astro";
import Section from "../section.astro";

const routes = [
  {
    title: "/concepts 📚",
    description: "Software engineering concepts.",
    url: "/concepts",
  },
];
---

<Section title="Routes">
  <Items items={routes} />
</Section>
