---
import Section from "../section.astro";

interface Resource {
  type: "video" | "article";
  title: string;
  url: string;
}

interface Props {
  eli5: string;
  resources: Resource[];
}

const { eli5, resources } = Astro.props;

const emojis = {
  article: "📃",
  video: "📽️",
};
---

<Section title="ELI5 Explanation">
  <p class="explanation">
    {eli5}
  </p>
</Section>

<Section title="Resources">
  <ul class="resources">
    {
      resources.map((resource) => (
        <li>
          <span>{emojis[resource.type]}</span>
          <a href={resource.url} target="_blank">
            {resource.title}
          </a>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .explanation {
    color: var(--color-foreground-subtle);
  }

  .resources {
    list-style-position: inside;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      font-size: var(--font-sm);

      & a {
        color: var(--color-foreground);
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--color-foreground-subtler);
        text-underline-offset: 4px;
        font-weight: 500;
      }
    }
  }
</style>
